#titulo{
    font-size: 400%;
    margin-top: 15%;
    text-align: center;
}

.menu_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu_div div{
    margin-right: 5%;
}

.mdo_div{
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat_div{
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.obras_div{
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.relat_div{
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
