<link rel="stylesheet" href="./../../components/navbar.component/navbar.component.css">
    <div class="navBar_div">
        <ul class="navBar_ul">
            <li class="navBar_li"><a href="./../../index.html">Home</a></li>
            <li class="navBar_li"><a href="./../../html/mdo.html">Mão de Obra</a></li>
            <li class="navBar_li"><a href="./../../html/material.html">Material</a></li>
            <li class="navBar_li"><a href="./../../html/obras.html">Obras</a></li>
            <li class="navBar_li"><a href="./../../html/relatorio.html">Relatórios</a></li>
        </ul>
    </div>