<link rel="stylesheet" href="/OrganizObra/components/navbar.component/navbar.component.css">
    <div class="navBar_div">
        <ul class="navBar_ul">
            <li class="navBar_li"><a href="/OrganizObra/index.html">Home</a></li>
            <li class="navBar_li"><a href="/OrganizObra/html/mdo.html">Mão de Obra</a></li>
            <li class="navBar_li"><a href="/OrganizObra/html/material.html">Material</a></li>
            <li class="navBar_li"><a href="/OrganizObra/html/obras.html">Obras</a></li>
            <li class="navBar_li"><a href="/OrganizObra/html/relatorio.html">Relatórios</a></li>
        </ul>
    </div>