<link rel="stylesheet" href="./components/mdotable.component/mdotabel.component.css">
<table>
<tr>
    <th colspan="4">Titulo Obra</th>
    <th colspan="4">Quinzena</th>
</tr>
<tr>
    <th >Nome</th>
    <th >Função</th>
    <th>Valor Diária</th>
    <th >Dias Trabalhados</th>
    <th >Total Quinzena</th>
    <th >Pix</th>
    <th>Tipo de pix</th>
</tr>
    <tr>
        <td>Nome</td>
        <td>Profissao</td>
        <td>Diaria</td>
        <td>Dias</td>
        <td>total quinzena</td>
        <td>pix</td>
        <td>tipo pix</td>
    </tr>
</table>